body{
    background-color: aquamarine ;
}

#table{
    border: 5px solid red;
    border-collapse: collapse;
    margin: 20px;
}
tr, td{
    padding: 10px;
}

h1{
    color: red;
    text-align: center;
}

.div{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;
}

.btn{
    background-color: yellowgreen;
    color: white;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    cursor: all-scroll;
}



